<div class="container">

  <h2 class="title">Angular Material Basic Setup (2021 Edition)
  </h2>
  <iframe src="https://www.youtube.com/embed/n_BBGcW19iQ" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  <mat-divider></mat-divider>
  <p class="content">
    Welcome to the Angular Material Basic Setup Course.
    <br />
    In this course, you will learn how to add the Angular Material to your project.
    You will do the basic setup of adding a toolbar, a search box and a sidenav.
    <br />
    Through the course, you will learn the CSS Flexbox, the CSS Media Query, and the CDK Layout BreakpointObserver.
  </p>


  <div class="action">

    <div class="action-text">Get Full Access - Buy Now 3$</div>

    <form class="paypal-button" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="PBMQS3M2F4FCQ">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit"
        alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>


  </div>


  <br>
</div>
