<mat-toolbar color='primary'>
  <button mat-icon-button fxHide.gt-xs (click)='onToggle()'>
    <mat-icon>menu</mat-icon>
  </button>
  <div><a routerLink='/'>Portfolio</a></div>
  <div fxFlex fxLayout fxLayoutAlign='flex-end' fxHide fxShow.gt-xs>
    <div fxLayout fxLayoutGap='15px'>
      <a mat-list-item routerLink="/courses" routerLinkActive="active">Courses
      </a>

      <a mat-list-item routerLink="/projects" routerLinkActive="active">Projects
      </a>

      <a mat-list-item routerLink="/books" routerLinkActive="active">Books
      </a>

      <a mat-list-item href='https://www.linkedin.com/in/mscaragab' target='_blank'>
        LinkedIn
      </a>

    </div>

  </div>
</mat-toolbar>
