<mat-toolbar color='primary'>
  <button mat-icon-button fxHide.gt-xs (click)='onToggle()'>
    <mat-icon>menu</mat-icon>
  </button>
  <div><a routerLink='/'>P17</a></div>
  <div fxFlex fxLayout fxLayoutAlign='flex-end' fxHide fxShow.gt-xs>
    <div fxLayout fxLayoutGap='15px'>
      <!-- <a routerLink='/feed'>Feed</a>
      <a routerLink='/help'>Help</a> <button style="margin-left: 25px;" (click)='onEnableNotifications()'
        mat-raised-button color='accent'>ENABLE NOTIFICATIONS</button> -->
    </div>

  </div>
</mat-toolbar>
