<mat-toolbar color='primary'>
  <mat-toolbar-row class="main-row">
    <div class="container">

      <div>

        <button mat-icon-button type='button' (click)='onToggle()'>
          <mat-icon>menu</mat-icon>
        </button>

        <button class='title' mat-flat-button color='primary' type='button' routerLink='/'>Abdelfattah Ragab</button>

      </div>
      <div class="items" *ngIf='!mobile'>
        <a mat-button type='button' routerLinkActive='active' routerLink='/books'>
          Books
        </a>
        <a mat-button type='button' routerLinkActive='active' routerLink='/courses'>
          Courses
        </a>
        <a mat-button type='button' routerLinkActive='active' routerLink='/projects'>
          Projects
        </a>
        <a mat-button [href]="'https://www.linkedin.com/in/mscaragab'">
          LinkedIn
        </a>
      </div>

    </div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf='mobile'>
    <div class="icons">
      <a mat-list-item (click)="onClose()" routerLinkActive='active' routerLink="/books">
        <mat-icon>library_books</mat-icon>
      </a>
      <a mat-list-item (click)="onClose()" routerLinkActive='active' routerLink="/courses">
        <mat-icon>school</mat-icon>

      </a>
      <a mat-list-item (click)="onClose()" routerLinkActive='active' routerLink="/projects">
        <mat-icon>wysiwyg</mat-icon>

      </a>
      <a mat-list-item routerLinkActive='active' [href]="'https://www.linkedin.com/in/mscaragab'">
        <mat-icon>public</mat-icon>
      </a>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
