<div class="container">

  <h2 class="title">Build Online E-Commerce Shopping Store Using Angular & RxJS</h2>

  <div class='image'>
    <a [href]="'https://www.amazon.com/dp/B095J9P258'">
      <img [src]="'/assets/images/books/shopping-store.jpg'"
        [alt]="'Build Online E-Commerce Shopping Store Using Angular & RxJS'">
    </a>
  </div>


  <mat-divider></mat-divider>

  <p class="content">

    Learn how to build a shopping store using the Angular technology.
    <br />
    You will create the home page, the product page, the search page, and the shopping cart page.
    You will learn how to build all the components using the Angular and the Angular Material.
    You will learn how to manipulate the data using the RxJS.
  </p>


  <div class="action">

    <div class="action-text">Read on Amazon Kindle</div>

    <a class="paypal-button" [href]="'https://www.amazon.com/dp/B095J9P258'">Build Online E-Commerce Shopping Store
      Using Angular & RxJS</a>


  </div>


  <br>
</div>
