<div style="margin: 10px;" fxLayout='column' fxLayout.gt-xs='row' fxLayoutAlign='center center'
  fxLayoutAlign.gt-xs='start center' fxLayoutGap='10px' fxLayoutGap.gt-xs='15px'>
  <mat-card *ngFor="let project of projects; let i = index" [routerLink]="['/projects',i]"
    routerLinkActive="active">
    <mat-card-title>
      {{ project.name }}
    </mat-card-title>

    <img mat-card-image [src]="project.imageUrl" alt="{{ project.name }}">
    <mat-card-content>
      <p>{{ project.description }}</p>
    </mat-card-content>
  </mat-card>
</div>
