<div class="container">

  <h2 class="title">Modern CSS Layouts In 5 Minutes </h2>

  <div class='image'>
    <a [href]="'https://www.amazon.com/dp/B095LXW1NK'">
      <img [src]="'/assets/images/books/modern-css.jpg'" [alt]="'Modern CSS Layouts In 5 Minutes'">
    </a>
  </div>


  <mat-divider></mat-divider>

  <p class="content">
    Learn CSS Flexbox, CSS Grid, and CSS Media Query
    <br />
  </p>


  <div class="action">

    <div class="action-text">Read on Amazon Kindle</div>

    <a class="paypal-button" [href]="'https://www.amazon.com/dp/B095LXW1NK'">Modern CSS Layouts In 5 Minutes</a>


  </div>


  <br>
</div>
