<mat-card fxLayout='column' fxLayoutAlign='center center' fxLayoutGap='20px'>
  <mat-card-title>
    {{ project.name }}
  </mat-card-title>
  <img mat-card-image [src]="project.imageUrl" alt="">
  <mat-card-content>
    <p>{{ project.description }}</p>
    <p><strong>{{ project.technologiesUsed }}</strong></p>
    <p><i>{{ project.note }}</i></p>
    <p *ngIf="project.githubRepositoryUrl !== ''">Github Repository Url: <a target='_blank' [title]='project.name'
        [href]='project.githubRepositoryUrl'>{{ project.githubRepositoryUrl }} </a> </p>
    <p>Live Demo Url: <a target='_blank' [title]='project.name' [href]='project.liveDemoUrl'>{{ project.liveDemoUrl }}
      </a>
    </p>
  </mat-card-content>
</mat-card>
