img {
	box-sizing: border-box;
	padding: 10px;
}
.container {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 0px auto;
}
mat-card {
	cursor: pointer;
	margin: 20px auto;
}

mat-card:focus {
	outline: none;
}

mat-card:hover {
	opacity: 0.9;
}
mat-card-title {
	font-size: large;
	height: 60px;
}

@media (min-width: 1024px) {
	.container {
		flex-direction: row;
	}
	mat-card {
		width: 500px;
		margin: 10px;
	}
}
