<div class="container">

  <h2 class="title">Angular Material Basic Setup</h2>

  <div class='image'>
    <a [href]="'https://www.amazon.com/dp/B095B3Z4GC'">
      <img [src]="'/assets/images/books/basic-setup.jpg'" [alt]="'Angular Material Basic Setup'">
    </a>
  </div>


  <mat-divider></mat-divider>

  <p class="content">

    Learn how to add the Angular Material to your project.
    <br />
    You will do a basic setup of your application, adding a toolbar, a search box and a Sidenav.
    You will learn the CSS Flexbox, the CSS Media Query, and the CDK Layout BreakpointObserve.

  </p>


  <div class="action">

    <div class="action-text">Read on Amazon Kindle</div>

    <a class="paypal-button" [href]="'https://www.amazon.com/dp/B095B3Z4GC'">Angular Material Basic Setup</a>


  </div>


  <br>
</div>
