<div class="container">
  <div class="title">
    Abdelfattah Ragab
  </div>
  <div class="subtitle">
    Angular Developer
  </div>
  <!-- <div class="image">
    <img [src]="'assets/images/profile/image.jpg'" [alt]="'Abdelfattah Ragab'">
  </div> -->
  <div class="description">
    <p>
      Professional software developer with 5+ years of experience in the Software development. I have published many
      books, and courses teaching the Angular technology. I'm a certified Solutions Architect, from
      AWS, and from the University of Alberta. In addition, I have good experience in the backend technologies, like
      Java, PHP, .NET, and NodeJS.<br /><br />
      My Books:<br />
      • Angular Material Basic Setup<br />
      • Build Online E-Commerce Shopping Store Using Angular & RxJS<br /><br />
      My Courses:<br />
      • Angular Material Basic Setup<br />
      • Build Online E-Commerce Shopping Store Using Angular & RxJS<br /><br />
      Certifications include:<br />
      • Georgia Institute of Technology: Improve Your English Communication Skills<br />
      • University of Alberta: Software Design and Architecture<br />
      • AWS Certified Solutions Architect – Associate<br /><br />
      Skills include: Angular, Angular Material, RxJS, JavaScript, TypeScript, NodeJS, and Git.<br />
      Work samples are available at GitHub.<br />

    </p>
  </div>
  <div class="portfolio">
    <div class="first-line">

    </div>
  </div>
  <div class="social">

  </div>

</div>
